.containor{
    height: 500px;
    max-width: 100%;
    background-color: #2c2e31;
}
* {
    -webkit-tap-highlight-color: transparent;
}
.nav ul li{
    height: 24px;
    position: relative;
    color: #fff;
    list-style: none;
    background-size: 27px;
}
.nav ul li a{
    text-decoration: none;
    font-size: 24px;
    color: white;
}
.nav ul li a:hover{
    content: "";
}